@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
body {
    background-color: hsl(0, 0%, 8%);
}
.main {
    background-color: hsl(0, 0%, 12%);
    width: 375px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
img {
    border-radius: 50%;
    width: 80px;
}
h1 {
    color: hsl(0, 0%, 100%);
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0 8px;
}
h2 {
    color: hsl(75, 94%, 57%);
    font-size: 13px;
    margin-bottom: 30px;
}
p {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 13px;
    margin: 20px;
}
.btns {
    display: grid;
}
.btns a {
    border: none;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    font-weight: 600;
    font-size: 14px;
    padding: 13px;
    margin: 8px 10px;
    border-radius: 10px;
    transition: all .5s ease;
}
.btns a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}
@media (max-width: 375px) {
    .main {
        width: 325px;
        padding: 20px;
    }
}
